{% block footer %}
<hr>
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-light">Get connected with us on social networks!</h6>
          <h6 class="mb-0 text-light">Mail us at iotaestore@gmail.com</h6>
          <a class="text-light" href="mailto:iotaestore@gmail.com">Send Mail</a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>&nbsp;&nbsp;&nbsp;
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>&nbsp;&nbsp;&nbsp;
            <!--Google +-->
            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>&nbsp;&nbsp;&nbsp;
            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>&nbsp;&nbsp;&nbsp;
            <!--Instagram-->
            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>&nbsp;&nbsp;&nbsp;

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
  
  <!-- Footer Links -->

</footer>
<!-- Footer -->
{% endblock %}